@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

:root {
    --color-cream:#f8f4ef;
    --color-accent:#3F91E9;
    --color-text:#1f0303;
    --color-vitus:#a96cea;
    --padding-section: 15px 10px;
    --padding-container: 20px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  background-color: var(--color-cream);
  color: var(--color-text)
}

nav {
    display: flex;
}
.nav-card {
    margin: 10px;

}
.hero {
    display: flex;

}

.hero-card {
flex-grow: 1;
background-color: var(--color-accent);
padding: 10px;
width: 80;
border-radius: 5px;
min-height: 80vh;
margin: 40px;
}

h1 {
    font-weight: 750;
    font-size: 75px;
}
.hero-h2 {
  font-family: "Stack Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: var(--color-cream);
}

p {
    font-weight: 600;
}

ul {
    list-style-type: none;
    margin: 12px;
    overflow: hidden;
}

.nav-ul li{
    float: left;
}

.nav-ul li a {
    color: var(--color-text);
    text-align: center;
    padding: 20px 20px;
    text-decoration:solid; 
    font-size: 20px;
    font-weight: 650;
}

.nav-ul li a:hover {
    color: var(--color-accent);
}

.nav-ul .li-wine a:hover{
    color: var(--color-vitus);
}

.vitis {
    display: flex;
    flex-wrap: wrap;
}

.vitis-card {
    background-color: var(--color-cream);
    border: 1px solid var(--color-text);
    border-radius: 5px;
    margin: 40px;
    padding: 10px;
    width: 100%;
    flex-grow: 1;
}

.vitis-h3 {
font-size: 30px;
font-weight: 800;
color: var(--color-text);
}

.vitis a {
color: var(--color-cream);
text-decoration: solid;
background-color: var(--color-vitus);
padding: 10px;
border-radius: 10px;

}
.vitis a:hover {
    background-color: var(--color-accent);
}


footer {
    display: flex;
}
.footer-card {
    background-color: var(--color-cream);
    border: 1px solid var(--color-text);
    border-radius: 5px;
    margin: 40px;
    flex-grow: 1;
    width: 100%;
}

.footer-h3 {
    font-size: 30px;
    font-weight: 800;
    color: var(--color-text);
}
.footer-ul li a {
    color: var(--color-text);
    text-decoration:solid; 
    font-size: 20px;
    font-weight: 600;
}

.footer-ul li a:hover {
    color: var(--color-accent);
}